<nav class="navbar ">
    <div class="container-fluid my-1">
      <a class="navbar-brand d-flex" href="#">
        <img src="https://i.ibb.co/4j8RcpB/icon.png"  width="30" height="30" class="d-inline-block align-text-top">
        <p class="fw-bolder ms-2 p-0 m-0">Teachify</p>
      </a>
      <div class="ms-auto">
        <button class="btn btn-light rounded-pill px-5 shadow-sm">Login</button>
        <button class="btn btn-dark rounded-pill px-5 ms-3">Register</button>
      </div>
    </div>
  </nav>