<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid my-1">
        <a class="navbar-brand d-flex align-items-center" href="">
            <i class="fa-solid fa-circle"></i>
            <p class="fw-bolder ms-1 fs-4 p-0 m-0">Teachify</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-light rounded-pill shadow-sm px-5">Login</button>
                </li>
                <li class="nav-item ms-lg-2">
                    <button class="btn btn-dark rounded-pill px-5">Register</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
