<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid my-1">
        <a class="navbar-brand d-flex align-items-center" href="">
            <i class="fa-solid fa-circle p-1"></i>
            <p class="fw-bolder ms-1 fs-4 p-0 m-0">Teachify</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <ng-container *ngIf="!userData; else loggedIn">
                    <!-- Show these buttons if user data is not present -->
                    <li class="nav-item">
                        <button (click)="navigateToLogin()" class="btn btn-light rounded-pill shadow-sm px-5">Login</button>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <button (click)="navigateToRegister()" class="btn btn-dark rounded-pill px-5 btn-hover2">Register</button> 
                    </li>
                </ng-container>
                <ng-template #loggedIn>
                    <li class="nav-item">
                        <button (click)="navigateToDashboard()" routerLink="user/notes" class="btn btn-dark rounded-pill shadow-sm px-5 btn-hover2">Go to Notes</button>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>
