<div class="container-fluid text-light  p-3" style="background-color: rgb(23, 23, 23);">
    <p class="fw-bold mt-3 fs-2 p-0 m-0" style="color: #cdff65;">Teachify</p>
    <p class="m-0 p-0 mb-3">For a student, By a student</p>
    <div class="row mt-3 mb-5">
        <div class="col-lg-4 col-sm-12 my-2">
            <p class="fw-bolder fs-5 p-0 m-0 mb-1" style="color: #cdff65;">View this project on github</p>
            <button class="btn btn-light text-dark d-flex align-items-center fw-bold">
                <a target="_blank" style="text-decoration: none; color: black;"
                    href="https://github.com/Athulsn10/teachify-frontend">
                    <i class="fa-brands fa-github fs-5 me-2 p-1"></i> Repo Link
                </a> </button>
        </div>
        <div class="col-lg-4 col-sm-12 my-2">
            <p class="fw-bolder fs-5 p-0 m-0 mb-1" style="color: #cdff65;"> Lets Connect</p>
            <button class="btn btn-light text-dark d-flex align-items-center fw-bold">
                <a target="_blank" style="text-decoration: none; color: black;"
                    href="https://www.linkedin.com/in/athul-nair123/">
                    <i class="fa-brands fa-linkedin fs-5 me-2 p-1"></i>LinkedIn
                </a> </button>
        </div>
        <div class="col-lg-4 col-sm-12 my-2">
            <p class="fw-bolder fs-5 p-0 m-0 mb-1" style="color: #cdff65;">Join Telegram Channel</p>
            <button class="btn btn-light text-dark d-flex align-items-center  fw-bold">
                <a target="_blank" style="text-decoration: none; color: black;"
                    href="https://t.me/CalicutUniversityBscCs">
                    <i class="fa-brands fa-telegram fs-5 me-2 p-1"></i>Telegram
                </a> </button>
        </div>
    </div>
    <p class="m-0 p-0 text-light text-center" style="font-size: 11px;">Teachify 2023</p>
</div>