<div class="container-fluid">
  <div class="row vh-100">
    <a class="navbar-brand d-flex align-items-center position-absolute mt-2" href="/">
      <i class="fa-solid fa-circle"></i>
      <p class="fw-bolder ms-1 fs-4 p-0 m-0">Teachify</p>
    </a>
    <div class="col-lg-6 col-sm-12 d-flex align-items-center justify-content-center">
      <div style="width: 450px;">
        <p class="fw-semibold text-center fs-1">Welcome back</p>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter your Email">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
          </div>
          <button type="submit" class="btn btn-primary w-100 btn-hover2">Login</button>
        </form>
        <p class="text-center mt-3">Don't have an account? <a href="/user/register">Sign Up</a></p>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 circle-col d-flex align-items-center justify-content-center"
      style="background-color: #4f56d3;">
      <div class="circle" style="width: 200px; height: 200px; background-color: white; border-radius: 50%;"></div>
    </div>
  </div>
</div>