<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid my-1">
        <a class="navbar-brand d-flex align-items-center" href="">
            <i class="fa-solid fa-circle"></i>
            <p class="fw-bolder ms-1 fs-4 p-0 m-0">Teachify</p>
        </a>
        <div class="ms-auto d-flex nav-mob" id="navbarNav">
            <button class="btn btn-light d-flex align-items-center rounded-pill shadow-sm px-lg-5">Add Notes<i
                    class="fa-solid fa-circle-plus ms-2"></i></button>
            <button class="btn btn-dark d-flex align-items-center rounded-pill btn-hover2 px-lg-5">Bookmarks <i
                    class="fa-solid fa-heart ms-2" style="color: red;"></i></button>
        </div>
        <div class="ms-auto d-flex d-lg-none" id="navbarNav">
            <p class="m-0 p-0"><i class="fa-solid fa-circle-plus fs-1 me-3"></i></p>
            <p class="m-0 p-0"><i class="fa-solid fa-heart fs-1" style="color: red;"></i></p>
        </div>
    </div>
</nav>