<app-header></app-header>
<div class="container-fluid">
  <div class="b1 rounded-4" style="background-color: #d1d4ff; height: fit-content;">
    <div class="row h-100 ms-lg-3 p-3">
      <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center">
        <div class="home-image rounded-4"></div>
      </div>
      <div class="col-lg-6 col-sm-12 d-lg-flex align-items-center justify-content-center">
        <div  class="flex-column">
          <p  style="overflow-y: hidden;" class="home-text m-0 ">Lets Study <br>Together With <br> Teachify!</p>
          <button (click)="navigateToDashboard()" class="btn btn-dark ms-3 rounded-pill px-4 mt-3 btn-hover2"
            style="background-color: #cdff65; border: none; color: black;">Check Out Notes!<i
              class="fi  ms-1 fi-bs-arrow-up-right" style="font-size: 12px;"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="rounded-4 mt-3 lg-me-3 p-3" style="height: 350px;background-color: #4f56d3;">
            <div class="row">
              <div class="col-6">
                <p class="p-0 m-0 text-light">[Notes Available]</p>
              </div>
              <div class="col-6 d-flex justify-content-center align-items-end">
                <p class="m-0 p-0 text-light fw-bolder" style="font-size: 80px;">00</p>
              </div>
            </div>
            <hr style="color: white;" class="mt-5">
            <p class="text-light mt-5">For a student, By a student</p>
            <div class="d-flex m-0  align-self-end">
              <button (click)="navigateToDashboard()" class="btn rounded-pill btn-hover2"
                style="background-color: #cdff65; border: none; color: black;">
                Start exploring now! <i class="fi fi-bs-arrow-up-right" style="font-size: 12px;"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="rounded-4 p-3 mt-3 " style="height: 350px; background-color: #f1f1f1;">
            <p class="fw-bolder fs-2 mb-2 m-0">Use Teachify To Your Advantage Now!</p>
            <p class="p-0">Welcome to Teachify, your gateway to seamless learning and academic excellence in BSc Computer Science.
              Empower your educational journey with a platform designed exclusively for students like you.</p>
            <div class="d-flex mt-4 align-self-end">
              <button class="btn rounded-pill btn-hover1">
                Why Teachify?
              </button>
            </div>
          </div>
        </div>
        <div class="mt-3 lg-me-3">
          <!-- accordian -->
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Don't Wait, Dive In!
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Maximize your learning potential with Teachify. Your academic success begins here. Start
                  exploring now!</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Seamless Learning, Anytime, Anywhere
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Access your notes on the go. Whether you're at home, in a cafe, or commuting, Teachify
                  ensures that your educational resources are just a click away. Make the most of your time and turn every moment into a
                  learning opportunity.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Tailored for BSc CS Students
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Teachify is crafted with you in mind. Navigate through your curriculum effortlessly, find
                  the resources you need, and elevate your understanding of computer science concepts.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="rounded-4 my-3 p-3" style="background-color: #515161;">
        <p class="text-light fw-bolder fs-1">Join Our Telegram Channel !</p>
        <div class="telegram rounded-3 p-5 mb-2">
          <div class="container-fluid p-4 d-flex align-items-center flex-column justify-content-center"
            style="background-color: #1e1e1e;">
            <div class="d-flex  justify-content-center"><img class="img-fluid w-25"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/800px-Telegram_2019_Logo.svg.png"
                alt=""></div>
            <p class="text-light fw-bolder text-center mt-2">BSC CS Calicut University study Notes</p>
            <p class="text-light w-75" style="text-align: center;">-JOIN NOW!
              -BSC CS [CBCSS-UG] NOTES🎉
              -NEW SYLLABUS 💨
              -CALICUT UNIVERSITY⚡️</p>
            <button class="btn rounded-pill px-4" style="background-color: #1c93e3;"><a target="_blank"
                style="text-decoration: none; color: white;" href="https://t.me/CalicutUniversityBscCs">Join
                Now</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>